<div class="pokemon">
<form action="/pokemon/new" method="post">
  <table>
  <tr>
  <td>
<input type="text" name="pokemon[name]" value="name"></td></tr>

<td><input type="text" name="pokemon[cp]" value="cp"></td></tr>

<td><input type="text" name="pokemon[poke_type]" value="poketype"></td></tr>

<td><input type="text" name="pokemon[img_url]" value="img_url"></td></tr>

<td><input type="submit"></td></tr>

<td></td>
</tr>
</table>
</form>
