<div class="trainer">
<form action="/trainer/new" method="post">
  <table>
  <tr>
  <td>
<input type="text" name="trainer[name]" value="name"></td></tr>

<td><input type="text" name="trainer[level]" value="level"></td></tr>

<td><input type="text" name="trainer[img_url]" value="img_url"></td></tr>

<td><input type="submit"></td></tr>

<td></td>
</tr>
</table>
</form>
